@using todo_domain_entities.AggregateModels
@model ToDoList
@{
    ViewData["Title"] = "Create";
}

<div class="container">

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <h1>Add a new List</h1>
        </div>
        <hr />
        <div class="col-md-2">

        </div>
        <div class="col-md-8 d-flex justify-content-center align-items-center">
            <form asp-action="Create" class="w-50">
                <div class="mb-3">
                    <label asp-for="Name" class="col-form-label"></label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                    <button type="submit" asp-action="CreateList" class="btn btn-primary">Add</button>
                    <a class="btn btn-info" asp-action="Index">Cancel</a>
            </form>
        </div>
    </div>

</div>